@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');

:root {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--navbar-height));
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--background-color);
    font-family: 'Montserrat', 'Lato', sans-serif;
    overflow-x: hidden;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast;
}
