h1 {
    color: var(--heading-color);
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h2:not(.hero__info) {
    @include text-gradient;
}

h1,
h2 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
