h1 {
    color: var(--heading-color);
    font-size: clamp(3.6rem, 8vw, 6.4rem);
}

h2 {
    font-size: clamp(2.4rem, 5.5vw, 3.6rem);
}

h2:not(.hero__info) {
    @include text-gradient;
}

h1,
h2 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}
