:root {
    // Background colors
    --background-color: #0a1b34;
    --background-dark-color: #050e1c;
    --background-gradient-color-1: #0b192f;
    --background-gradient-color-2: #004462;

    // Typography colors
    --heading-color: #eaf2f6;
    --heading-color-2: #869ad7;
    --text-color: #a5abbd;

    // Accent colors
    --accent-color: #173057;
    --accent-gradient-color-1: #64ffda;
    --accent-gradient-color-2: #69bdff;
}
